﻿
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Đăng ký tài khoản</h1>
                <nav class="d-flex align-items-center">
                    <a href="@Url.Action("Index", "Mercuryshop")">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="@Url.Action("GioHang", "ShopCart")">Giỏ Hàng</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" style="height:500px;" src="~/Content/Theme/img/logindn.jpg" alt="">
                    <div class="hover">
                        <h4>Thành viên mới</h4>
                        <p>Nếu bạn đã có tài khoản bạn có thể đăng nhập ngay vào trang web để khám phá thêm về cửa hàng</p>
                        <a class="primary-btn" href="@Url.Action("DangNhap","Customer")">Đăng nhập</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div style="padding-top: 15px;" class="login_form_inner">
                    <h3>Thông tin tài khoản</h3>
                    @using (Html.BeginForm(new { @onchange = "this.form.submit();", @class = "row login_form" }))
                    {
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="Email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="Name" placeholder="Họ và tên" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Họ và tên'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="tel" class="form-control" id="name" name="Numberphone" placeholder="Số điện thoại" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Số điện thoại'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="name" name="Pass" placeholder="Mật khẩu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="name" name="rePass" placeholder="Nhập lại mật khẩu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="Address" placeholder="Địa chỉ" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Địa chỉ'">
                        </div>
                        <div class="col-md-12 form-group">
                            <button style="width:250px; height:50px" type="submit" value="submit" class="primary-btn">Đăng ký</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>